@import '../root.scss';
@import '../Button.scss';

.container{
    height: auto; 
}

.registration-form-title{
    padding-top: 30px;
    color: white;
    text-align: center;
    height: 0px;
    font-size: 35px;
}

.registration-container{
    margin-left: 250px;
}

.registration-form{ 
    @extend %flex-center;
    border-style: solid;
    border-color: white;
    margin: 80px; 
    padding: 0px 130px;
    .form-group {
        @extend %flex-center;
        color: white;
        align-items: flex-start;
    }

    .text-login {
        &:hover {
            text-decoration: underline;
        }
    }

    .btn {
        @include btn;
    }
}

.text-login{
    padding: 10px 0px 0px 10px;
}

.form-group{
    font-weight: bold;
}