@import '../root.scss';

.table {
    background-color: var(--light-scale-grey);
}

.league-header{
    color: #5367fc;
    text-align: center;
    margin-bottom:4vh;
}

.centra-league-page{
    margin-left:10vw;
    margin-top:5vh;

    h3{
        color: #3fc380;
    }
   
}

.lead-graph.row{
    display:flex; 
    flex-direction:row;
    flex-wrap:nowrap;
}
    
.graph-header{
    margin-left:2.5vw;
}
// .leader-row{
//     margin-bottom:30vh;
// }
// .leaderboard-table{
//     margin-top:4vh;
//     margin-right: 20vw;
//     margin-bottom:30vh;
//     // overflow:  auto;
// }

// .transaction-table{
//     margin-top: 5vh;
//     margin-right: 20vw;
//     margin-bottom:20vh;
//     // overflow: auto;  
// }