@import '../root.scss';

.table {
    background-color: var(--light-scale-grey);
}

h3 {
    color: var(--mint);
}

.league-header {
    color: var(--purple);
    text-align: center;
    margin-bottom: 4vh;
}

.central-league-page {
    margin-top: 5vh;
   
}

.lead-graph.row {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
}

.graph-header{
    margin-left: 2.5vw;
}