@mixin btn {
    size: 10px;
    background-color: #3FC380;
    border-color:#3FC380;
    &:hover, &:focus {
        background-color: #2c8f5d;
        border-color:#2c8f5d;
    }
}

@mixin dropdownbtn { 
    color: black;
    background-color: #3FC380;
    border-color: #3FC380;
    &:hover, &:focus, &:active{
        color: black;
        background-color: #2c8f5d;
        border-color: #2c8f5d;
    }
    &:not(:disabled):not(.disabled) {
        background: #3FC380;
        color: white;
    }
}