:root {
    --mint: #3FC380;
    --hover-mint: #2c8f5d;
    --dark-scale-grey: #2F2F31;
    --purple: #5367FC;
    --white: white;
  }
  
  html, body {
    box-sizing: border-box;
    margin: 0 auto; /* for body */
    height: 100%;
    width: 100%;
    background-color: var(--dark-scale-grey);
    font-family: 'Rajdhani', sans-serif;
  }

  *, *:before, *:after {
    box-sizing: inherit;
    font-family: inherit;
  }

  .site-container {
    display: flex;
    flex-direction: row;
  }

  .site-content {
    margin-right: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .no-margin {
    margin-right: 0px;
  }

  %flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    display: flex;
    justify-content: flex-start;
  }