.stock-container{
    display: flex;
    flex-direction: column;
    color: var(--white);
    margin-top: 6vh;
}

h1 {
    color: var(--white);
}

.header > h1 {
    font-size: 3vw;
}

.header > div > span {
    h2 {
        font-size: 3vw;
    }
    h5 {
        font-size: 2vw;
    }
}

.current-price > span{
    display: inline-block;
}

.stats-table.table{
    color: var(--white);
    font-size: 1.5vw;
    width: 35vw;
    min-height: 10vw;
    min-width: 40vw;
}

.stats-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-right: 15px;
}

.makeshift-tab-component{
    display: flex;
    flex-direction: column;
    height: 20vw;

    .time-button {
        size: 10px;
        color: var(--mint);
        border-color: var(--mint);
        &:hover, &:focus {
            background-color: var(--hover-mint);
            border-color: var(--hover-mint);
        }
    }

    .graph {
        height: 20vw;
    }
}