@import '../root.scss';
@import '../Button.scss';


.one-cont.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .big-logo {
        padding-top: 5vh;
    }
}

.two-cont{
    display:flex;
    flex-direction:row;
    .education-col.row{
        display:inherit;
    }
    .market-col.row{
        display:inherit;
       
    }
}
.Page2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:10vh;
    padding-bottom:4vh;
    .market.row{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.all-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .reg-button{
        color: white;
        background-color: #5367fc;
        border-color:white;
    }

    .log-button{
        color: white;
        background-color:#5367fc;
        border-color:white;
    }
}

.bot{
    padding-top:8vh;
}

.expert{
    .col{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top:20vh;
    }
    .expert-card.card{
        display:inherit;
        width:1050px;
        height:300px;
        .card-body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
.expert-card{
    padding-top: 78px;
    
}

.expert-text{
    text-align: center;
    color: #2f2f31;
    font-weight: bold;
    font-size: 60px;
}

.expert-text1{
    text-align: center;
    color: #2f2f31;
}


.reg-button1.btn-outline-primary{
    color: white;
    border-color:white;
    margin-top:25vh;
    margin-bottom:15vh;
    margin-top:25vh;
    width: 200px;
    height: 50px;
}

.names{
    color: white;
    padding-top: 5vh;
}

.diamond-header{
    padding-top: 4vh;
    font-weight: bold;
}

.success{
    padding-right: 10px;
    padding-left:80px;
    font-weight: bold;
    padding-bottom: 30px;
}
.word1{
    text-align: center;
    
}

.word2{
    text-align: center;
   
}
.word3{
    text-align: center;
    
}
.word4{
    text-align: center;
    
}

.bot-title{
    font-weight: bold;
    padding-bottom:13vh;
}

.real-title{
    font-weight: bold;
}

.test-title{
    font-weight: bold;
}
.ed-title{
    font-weight: bold;
  
}
