@import '../root.scss';
@import '../Button.scss';

.login-form-title{
    padding-top: 5vh;
    color: var(--white);
    text-align: center;
    height: 0px;
    font-size: 35px;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form{ 
    @extend %flex-center;
    border-style: solid;
    border-color: var(--white);
    margin: 80px auto;
    padding: 10vh 5vw;
    
    .form-group {
        @extend %flex-center;
        color: var(--white);
        align-items: flex-start;
    }
    
    .text-register {
        &:hover {
            text-decoration: underline;
        }
    }
    
    .btn {
        @include btn;
    }
}

.text-register{
    padding: 2vh 0px 0px 0.5vw;
    width: 20vw;
}

.form-group{
    font-weight: bold;
}
