@import '../root.scss';
@import '../Button.scss';


.symbol-lookup-page{
    display: flex;
    padding: 20vh 0vh 0vh 8vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
h1.symbol-text{
    padding-bottom: 25px;
    color: var(--purple);
    font-size: 4rem;
    font-weight: bold;
}

.symbol-search.input-group{
    width: 30vw;
}

.search-button.btn.btn-primary{
    @include btn;
    padding: 0rem 0.75rem;
}