.ai-container {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 4vh 0vw 0vh 4vw;
}

.ai-header {
    text-align: center;
    font-size: 4vw;
}

.mean{
    padding-top: 10px;
    padding-bottom: 70px;
    h1 {
        padding-bottom: 20px;
    }
    h4 {
        padding-top: 20px;
        padding-left: 30px;
        text-align: justify;
    }
}

.momentum{
    padding-bottom: 70px;
    h1 {
        padding-bottom: 20px;
    }
    h4 {
        padding-top: 20px;
        padding-left: 30px;
        text-align: justify;
    }
}
