@import '../Button.scss';

.trade-page{
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 30px;
}

.order-stock-component{
    width: 450px;
    align-items: center;
}

.order-title{
    text-decoration: underline;
}

.league-section{
    display: flex;
    flex-direction: row;
}

.league-title{
    margin-top: 5px;
}

.league-dropdown{
    margin: 0px 0px 20px 91px;
    .btn{
        @include btn;
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        color: #495057;
    }
   
}

.stock-symbol-section{
    display: flex;
    flex-direction: row;
    
}

.stock-symbol{
    margin: 0px 0px 20px 40px;
    border: none;

}

.transaction-section{
    display: flex;
    flex-direction: row;
}

.transaction-dropdown{
    margin: 0px 0px 20px 55px;
    .btn{
        @include btn;
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        color: #495057;
    }
}

.quantity-section{
    display: flex;
    flex-direction: row;
}

.quantity-box{
    margin: 0px 0px 20px 77px;
}

.price-section{
    display: flex;
    flex-direction: row;
}

.radioBoxes{
    margin: 0px 0px 20px 115px;
    display: flex;
    flex-direction: column;
}

.duration-section{
    display: flex;
    flex-direction: row;
}

.duration-dropdown{
    margin: 0px 0px 20px 74px;
    .btn{
        @include btn;
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        color: #495057;
    }
    
}

.previewOrder{
    btn{
        background-color: #FFFFFF;
        border-color: #FFFFFF;
    }
        
}

.account-details-information{
    width:550px;
    display:  flex;
    flex-direction: column;
    padding-left: 100px;
    padding-bottom:69px;
}

.account-details{
    text-decoration:underline;
}

.value-section{
    display: flex;
    flex-direction: row;
}

.value-display{
    margin: 0px 0px 20px 30px;
    border-radius: 0.25rem;
}

.buying-power-section{
    display: flex;
    flex-direction: row;
}

.buying-power-display{
    margin: 0px 0px 20px 20px;
    border-radius: 0.25rem;
}

.cash-section{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.cash-display{
    margin: 0px 0px 20px 40px;
    border-radius: 0.25rem;
}


.stock-square{
    margin: 0.5in 0in 0in 0in;
    display : flex;
    width: 5.5in;
    height: 3.5in;
    background-color:#EEEEEE;
    display: flex;
    justify-content: flex-start;
}

.displayStock{
    padding-top: 25px;;
    padding-left: 50px;
}

.stock-sym-box{
    display: flex;
    flex-direction: row;
}

.stock-text{
    margin: 0px 0px 20px 20px;
}


.last-box-section{
    display: flex;
    flex-direction: row;
}

.last-price-display{
    margin: 0px 0px 20px 20px;
}

.change-box-section{
    display: flex;
    flex-direction: row;
}

.change-price-display{
    margin: 0px 0px 20px 20px;
}

.percent-change-section{
    display: flex;
    flex-direction: row;
}

.percent-change-display{
    margin: 0in 0in 0.2in 0.2in;

}

.volume-section{
    display: flex;
    flex-direction: row;
}

.volume-display{
    margin: 0px 0px 20px 20px;
}

.day-high-section{
    display: flex;
    flex-direction: row;
}

.day-high-display{
    margin: 0px 0px 20px 20px;
}

.day-low-section{
    display: flex;
    flex-direction: row;
}

.day-low-display{
    margin: 0px 0px 20px 20px;
}
