.stock-container{
    color: white;
}

.ticker-form, .currentPrice {
    margin-bottom: 50px;
}

.stats > h3 {
    display: flex;
}

.graph {
    background-color: white;
    color: black;
}

.stats {
    margin-top: 50px;
}
