@import '../root.scss';

.sidebar{
    width:250px;
    height:100%;
    background-color:white;
    overflow-x: 250px;
}

.card-header{
    background-color: white;
    display: flex;
    flex-direction: row;

    &:hover{
        text-decoration: underline;
    }
    
    .arrow{
        padding-left: 140px;
    }

    .dropdown-icon{
        justify-content: flex-end;
        padding: none;
        margin: 7px 0px 0px 0px;
        height: 10px;
        width: 10px;
    }
}

.leagues-item{
    &:hover{
        text-decoration: underline;
    }
}
