@import '../root.scss';
@import '../Button.scss';

.join-league-form-title{
    font-size: 35px;
    color: white;
    padding: 30px;
}

.table {
    background-color: var(--light-scale-grey);
}

.join-league-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.join-league-form{
    overflow: auto;
    margin-bottom: 100px;
    .btn {
        @include btn;
    }
}

.filtering-buttons{
    display: flex;
    margin-bottom: 3vh;

    .btn {
        @include btn;
    }

    .set-filters{
        display: inherit;
        flex-direction: row;
        margin-right: 1vw;
    }

    .reset-filters{
        display: inherit;
        flex-direction: row;
        align-items: flex-end !important;
    }
}

.filter-button{
    background-color: white !important;
    border: none !important;
    margin-left: 0.5vw;
    padding: 0.10rem 0.25rem !important;
}

.filter-form-field-container{
    display: flex;
    flex-direction: column;

    .range{
        display: inherit;
        flex-direction: row;
    }
}

.spacing-between-fields{
    margin: 0.6vh 1vw 0vh 1vw;
}

.private-league-form{
    .btn {
        @include btn;
    }
}

.accept-filters{
    text-align: center;
    .btn {
        @include btn;
    }
}