@import '../root.scss';
@import '../Button.scss';

.join-league-form-title{
    font-size: 35px;
    color: white;
    padding: 30px;
}

.table {
    background-color: var(--light-scale-grey);
}

.join-league-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.join-league-form{
   // min-width: 800px;
    overflow: auto;
    margin-bottom: 100px;
    .btn {
        @include btn;
    }
}

.filter-button{
    background-color: white !important;
    border: none !important;
    margin-left: 0.5vw;
    padding: 0.10rem 0.25rem !important;
}

.private-league-form{
    .btn {
        @include btn;
    }
}