@import '../root.scss';
@import '../Button.scss';

.league-summary {
    display: flex;
    flex-direction: column;
}

.summary-page{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;

    .dropdowns {
        display: flex;
        flex-direction: row;
        
        .dropdown {
            padding: 10px;
        }
    }

    h1 {
        color: white;
    }

    .btn{
        @include dropdownbtn;
    }

    .league-graph-metrics {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.card-list {
    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
    }

    h3 {
        font-size: 20px;
    }
}

.card-list.list-group-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}