@import '../root.scss';
@import '../Button.scss';

.summary-page{
    display:flex;
    flex-direction: column;
    
    align-content:center;
}

.league-dropdown-section{
    padding-top:40px;
    padding-bottom: 40px;
}

.week-dropdown-section{
    padding-bottom:40px;

}

.display-summary-info{
    display:flex;
    justify-content: space-between;
}

.summ-display{
    margin-bottom: 10px;
}

