@import '../root.scss';
@import '../Button.scss';

.portfolio-title{
    font-size: 40px;
    padding: 5vh 0.5vw;
}

.portfolio-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--white);
    .header {
        padding-top: 5vh;
        text-align: center;
        h1 {
            font-size: 60px;
        }
    }

    .portfolio-dropdowns {
        display: flex;
        flex-direction: row;
        
        .dropdown {
            padding: 10px;
        }
    }
}

.portfolio-dropdown{
    .btn{
        @include dropdownbtn;
    }
}