@import '../root.scss';

.portfolio-history-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--white);
    padding: 30px;
}

.history-header{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history-list{
    width: 100%;
}