@import '../root.scss';

.portfolio-title{
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.portfolio-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--white);

    .header {
        
        padding-top: 30px;
        text-align: center;
        h1 {
            font-size: 60px;
        }
    }
}

.portfolio-dropdown{

    .btn{
        color: black;
        background-color: var(--white);
        border-color: var(--white);
        &:hover, &:focus, &:active{
            color: black;
            background-color: var(--white);
            border-color: var(--white);
        }
        &:not(:disabled):not(.disabled) {
            background: var(--white);
            color: black;
        }
    }
}