@import '../root.scss';

.portfolio-graph-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--white);
    padding: 30px;
}

.portfolio-header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .portfolio-current {
        font-weight: bold;
    }

    .portfolio-gain{
        font-size: 25px;
    }
}



