@import '../root.scss';

.portfolio-positions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    padding: 30px;
}

.positions-header{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.positions-list{
    width: 100%;
}