h1{
    margin: 0px;
}
.application-header{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 800;
    background-color: var(--mint);
    color: white;
    height: 100px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.application-title{
    padding: 30px 40px;
}